*{
    font-family: Roboto;
}



:root {
  --white: #F9FAF8;
  --dark-gray: #1f2937;
  --blue: #3882F6;
  --light-gray: #e5e7eb;
}

img{
    border-radius: 15px;
}
.showcase-img{
    width: 200px;
    height: 200px;
    border: var(--blue) 3px solid;
    margin-bottom: 8px;
}
.intro-img{
    width: 640px;
    height: 225px;
}

body{
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
}

.container > div {
    padding: 0 300px;
}

.header{
    display: flex;
    justify-content:space-between;
    align-items: center ;
    background-color: var(--dark-gray);
    gap: 32px;
    padding: 0 16px;
    height: 70px;
}

.con-header-links{
    display: flex;
    gap: 24px;
    color: var(--light-gray);
}

.header-logo{
    font-size: 24px;
}

.header-logo,
.header-link{
    color: var(--white);
    text-decoration: none;
}

.intro{
    background-color: var(--dark-gray);
    display: flex;
    align-items:center;
    height: 400px;
    justify-content: space-between;
}


.intro-big-text{
    display: flex;
    flex-wrap: wrap;
    width: 370px;
    color: var(--white);
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    margin-bottom: 2px;
}

.intro-small-text{
    color: var(--light-gray);
    font-size: 18px;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    width: 390px;   
}

.intro-button{
    padding: 8px 24px;
    border: #1f2937;
    border-radius: 8px;
    color: white;
    background-color: var(--blue);
}

.showcase{
    display: flex;
    flex-direction: column;
    height: 550px;
    align-items: center;
}

.showcase-big-text{
    font-size: 36px;
    color: var(--dark-gray);
    font-weight: 900;
}

.showcase-container-parent{
    display: flex;
    gap: 32px;
}

.showcase-container-child{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

.showcase-text{
    width: 190px;
    margin: 0 auto;
}

.quote{
    height: 400px;
    font-size: 40px;
    background-color: var(--light-gray);
    color: var(--dark-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.quote p{
    margin: 0 auto;
    width: 800px;
    font-weight: 300;
}

.quote .quote-author{
    font-size: 24px;
    font-weight: 600;
    text-align: right;
    margin-top: 8px;    
}

.sign-up{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-container{
    height: 180px;
    width: 950px;
    background-color: var(--blue);
    border-radius: 8px;
    color: var(--white);
    display: flex;
    justify-content: space-around;
}

.sign-up-small-text,
.sign-up-big-text{
    margin: 0;
}

.sign-up-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.sign-up-button{
    background-color: background-color: var(--blue);
    color: var(--white);
    padding: 5px 24px;
    border: 2px var(--white) solid;
    border-radius: 8px;
}

.sign-up-big-text{
    font: 40px;
    font-weight: 700;
}

.sign-up-small-text{
    color: var(--light-gray);
}
