*{
    font-family: Roboto;
}

:root {
  --white: #F9FAF8;
  --dark-gray: #1f2937;
  --blue: #3882F6;
  --light-gray: #e5e7eb;
}

img{
    border-radius: 15px;
}
.showcase-img{
    width: 300px;
    height: 300px;
}
.intro-img{
    width: 450px;
    height: 300px;
}

body{
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
}

.container > div {
    padding: 0 300px;
}

.header{
    display: flex;
    justify-content:space-between;
    align-items: center ;
    background-color: var(--dark-gray);
    gap: 32px;
    padding: 0 16px;
    height: 70px;
}

.con-header-links{
    display: flex;
    gap: 24px;
    color: var(--light-gray);
}

.header-logo{
    font-size: 24px;
}

.header-logo,
.header-link{
    color: var(--white);
    text-decoration: none;
}

.intro{
    background-color: var(--dark-gray);
    display: flex;
    align-items:center;
    height: 400px;
    justify-content: space-between;
}


.intro-big-text{
    display: flex;
    flex-wrap: wrap;
    width: 370px;
    color: var(--white);
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    margin-bottom: 2px;
}

.intro-small-text{
    color: var(--light-gray);
    font-size: 18px;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    width: 390px;   
}

.intro-button{
    padding: 8px 24px;
    border: #1f2937;
    border-radius: 8px;
    color: white;
    background-color: var(--blue);
}

.showcase{
    display: flex;
    height: 380px;
    border-bottom: 1px solid red;
}